<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-xs-2 col-sm-2 sidenav playlist-code">
      <p>Tell your friends to visit:</p>
      <p><%= request.original_url %></p>
    </div>
    <div class="col-xs-8 col-sm-8 text-left">
      <div class="container playlist">
        <h1>Uptune Playlist</h1>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
              <% @playlist.tracks.each_with_index do |track, i| %>
              <tr>
                <div class="track-<%= i + 1 %>">
                  <td><%= i + 1%></td>
                  <td><%= track.title %></td>
                  <td><%= track.artist %></td>
                  <td>1</td>
                </div>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 sidenav">
      <div class="input-group">
        <input type="text" class="form-control search-query" placeholder="Search Spotify" name="query">
        <span class="input-group-btn">
          <button id="search-spotify" class="btn btn-default" type="button">Search</button>
        </span>
        <br>
      </div>
      <div id="search-results">
      </div>
    </div>
  </div>
</div>
